.Container {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 300px;
  top: 200px;
  background-color: red;
  height: 700px;
  width: 800px;
  
}
.Row1  {
flex: 40%;
background: url("./assets/dogbackground.jpg") 30% ;

}
.Row2 {
flex: 60%;
background-color:tan;
}
ul {
  list-style-type: none;
 }
 .list {
   justify-content: right;
 }