.Container {
  display: flex;
  flex-direction: row;
  background-color: red;
  height: 500px;
  width: 500px;
  
}
.Row1  {
flex: 1;
background: url("./assets/dogbackground.jpg");
}
.Row2 {
flex: 2;
}