.Container {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 200px;
  top: 200px;
  height: 700px;
  width: 1000px; 
}
.Row1  {
flex: 40%;
background: url("./assets/dogbackground.jpg") 30% ;
}
.Row2 {
flex: 60%;
background-color:rgb(230, 201, 122);
}
 .list {
  position: absolute;
  left: 100px;
  list-style-type: circle;
 }
 .l1 {
  position: absolute;
  top: 200px;
 }
 .l2 {
  position: absolute;
  top: 250px;
 }
 .l3 {
  position: absolute;
  top: 300px;
 }
 .l4 {
  position: absolute;
  top: 350px;
 }
 .h1 {
   position:absolute;
   width: 400px;
   left: 500px;
 }
 .name {
   position: absolute;
   top: 200px;
   left: 550px;
 }
 .breed {
   position: absolute;
   top: 300px;
   left: 550px;
 }
 .birthday {
   position: relative;
   top:286px;
   left:400px;
 }
 .switch { 
  position : relative ;
  display : inline-block;
  width : 150px;
  height : 20px;
  background-color: #eee;
  left: 25px;
  top: 400px;
  border-color: transparent;
}
.switch::after {
  content: '';
  position: absolute;
  width: 75px;
  height: 18px;
  background-color: white;
  top: 1px; 
  left: 1px;
  transition: all 0.3s;
}
.checkbox:checked + .switch::after {
  left : 73px; 
}
.checkbox:checked + .switch {
  background-color: #7983ff;
}
.checkbox { 
  display : none;
}
.next {
  position: relative;
  height: 50px;
  width: 70px;
  top: 650px;
  left: 150px;
  border-radius: 50px;
}
.back {
  position: relative;
  height: 50px;
  width: 70px;
  top: 650px;
  left: -250px;
  border-radius: 50px;
}
.neuter { 
  position : relative ;
  display : inline-block;
  width : 150px;
  height : 20px;
  background-color: #eee;
  top: 400px;
  border-color: transparent;
}
.neuter::after {
  content: '';
  position: absolute;
  width: 75px;
  height: 18px;
  background-color: white;
  top: 1px; 
  left: 1px;
  transition: all 0.3s;
}
.box:checked + .neuter::after {
  left : 73px; 
}
.box:checked + .neuter {
  background-color: #7983ff;
}
.box { 
  display : none;
}
.fourth { 
  position : relative ;
  display : inline-block;
  width : 400px;
  height : 50px;
  background-color: #eee;
  top: 500px;
  left: 100px;
  border-color: transparent;
}
.fourth::after {
  content: '';
  position: absolute;
  width: 75px;
  height: 48px;
  background-color: white;
  top: 1px; 
  left: 1px;
  transition: all 0.3s;
}
.for:checked + .fourth::after {
  left : 73px; 
}
.for:checked + .fourth {
  background-color: #7983ff;
}
.for { 
  display : none;
}